<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Bienvenido a Serenety.com, <%= @email %> </h1>
    <p>
      Te invitamos a que te nos una a magnifica aplicacion para control de tú,
      respiracion.<br>
    </p>
    <p>
      Unetenos con el siguiente link: <%= @url %>.
    </p>
    <p>Team Serenety!</p>
  </body>
</html>
